:root {
    --black: #333333;
    --grey: #999999;
    --light-green: #93c0bb;
    --dark-green: #84b6b0;
    --light-color: #999999;
}

* {
    font-family: "Times New Roman", Times, serif;
}

.row[title="logo"] .logo {
    color: var(--black);
    font-size: 2.08rem;
    margin-left: 3.36rem;
}

.row[title="logo"] .logo span {
    color: var(--light-green);
    font-weight: bold;
}

.container .row[title="logo"] {
    margin-top: 0.4rem;
}

.container .row .col-3 {
    border: #a2acab 0.08rem solid;
    border-right: none;
    padding-left: 0%;
}

.container .row .col-5 {
    border: #a2acab 0.08rem solid;
    border-left: none;
}

.container .row h3 {
    margin-top: 2.5rem;
    color: #5e5e5e;
    margin-bottom: 1.5rem;
}

.container .row img {
    height: 25rem;
    width: 16rem;
}

.container .row form .btn {
    background-color: #5e5e5e;
    color: white;
    margin-right: 1rem;
}

.container .row form {
    margin-left: 2rem;
    margin-right: 3.5rem;
}

.container .row form .btn:hover {
    background-color: #98b1ae;
}

.container .row form a {
    color: #838383;
}

.container .row form a:hover {
    color: #93c0bb;
}

/* validate */
.help-block {
    color: #ec6277;
    font-size: 90%;
    font-style: italic;
}
